/* ================================================================= */
/*                       Блок About-Section                          */
/* ================================================================= */
.about-section__grid { /* Изначально был .about-grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Чуть больше мин. ширина */
    gap: 50px; /* Больше расстояние */
    text-align: center;
}
.about-section__item { /* Микс с .card */
    /* .card стили применяются, здесь могут быть специфичные стили для этого элемента, если нужны */
}
